.wd-main-frame {
    display: flex;
}

.wd-secondary-frame {
    display: block;
    width: -webkit-fill-available;
}

.wd-sidebar-column {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 85px;
    height: 100vh;
    position: sticky;
    left: 0px;
    top: 0px;
    margin-right: 25px;
}

.wd-sidebar-column>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* flex-basis: 85px; */
    color: white;
}

.wd-sidebar-column>a>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.wd-sidebar-column>a>div>i {
    font-size: 30px;
    color: rgb(236, 48, 48);
}

.wd-sidebar-column>a>div>.fa-user {
    font-size: 30px;
    color: rgb(175, 175, 175);
}

.wd-sidebar-column>a>div>span {
    margin-top: 5px;
    font-size: 12px;
}

.wd-sidebar-item-selected {
    background-color: white;
    color: rgb(236, 48, 48);
}

.wd-sidebar-item-selected>div>span {
    color: rgb(236, 48, 48);
}

/* ========================================================================== */
/* AccountColumnsOnly */

.wd-name-header {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.wd-secondary-column {}

.wd-secondary-column-list {
    width: 250px;
    padding-left: 0px;
}

.wd-secondary-column-list>li {
    list-style: none;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-left: 5px;
}

.wd-secondary-column-list>li>a {
    text-decoration: none;
    color: rgb(236, 48, 48);
    font-size: 15px;
}

.wd-secondary-column-item-selected {
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

/* ========================================================================== */

/* ========================================================================== */
/* Profile page */

.wd-profile-info-col {
    width: 600px;
}

.wd-profile-info-col>div {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.wd-profile-info-col>div>a {
    text-decoration: none;
    color: rgb(236, 48, 48);
}

.wd-button-container {
    display: flex;
    gap: 5px;
    justify-content: end;
}

/* ========================================================================== */
/* Customization for bootstrap */

.btn-danger {
    background-color: rgb(236, 48, 48);
    border-color: rgb(236, 48, 48);
    color: #fff;
}

.btn-danger:hover {
    background-color: rgb(170, 34, 34);
    border-color: rgb(170, 34, 34);
    color: #fff;
}

/* ========================================================================== */
/* Dashboard */

.wd-card-to-assignment-icon {
    color: rgb(128, 128, 128);
}

.wd-card-to-assignment-icon:hover {
    color: rgb(236, 48, 48);
}

.wd-dashboard-width {
    max-width: 1800px;
}

/* ========================================================================== */


/* ========================================================================== */
/* Courses */
.wd-main-breadcrumbs-nav {
    --bs-breadcrumb-divider: '>';
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.wd-main-breadcrumbs-nav > ol > li > a{
    text-decoration: none;
    color: rgb(236, 48, 48);
}

.wd-hamburger {
    color: rgb(236, 48, 48);
    font-size: 25px;
}

/* ========================================================================== */

/* ========================================================================== */
/* Assignment */

.wd-assignment-main-panel {
    width: -webkit-fill-available;
    /* width: 1200px; */
    padding-right: 30px;
}

.wd-assignment-list-heading {
    width: 800px;
    height: 80px;
}

.wd-assignment-list-heading > div {
    display: flex;
}

.wd-assignment-list-heading-title {
    float: left;
    height: -webkit-fill-available;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.wd-assignment-list-heading-buttons {
    float: right;
    height: -webkit-fill-available;
    flex-wrap: wrap;
    align-items: center;
}

.wd-page-items {
    width: 800px;
}

.wd-assignment-list {
    width: 800px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 5px;
    border-left-color: rgb(35, 139, 14);
    list-style: none;
}

.wd-assignment-list > li {
    border-style: groove;
    border-left: 0;
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    min-height: 60px;
}

.wd-assignment-list > li > a {
    text-decoration: none;
    color: black;
}

.wd-assignment-list > li > a > div {
    font-size: 20px;
}

.wd-assignment-edit-table {

}

.wd-assignment-edit-table-key {
    text-align: right;
    /* width: 100px; */
}

.wd-assignment-edit-table-value {
    text-align: left;
    /* width: max-content; */
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

.box {
    width: 85px;
    color: rgb(236, 48, 48);
    font-weight: 600;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    /* background-color: rgb(236, 48, 48); */
}

.wd-make-block {
    display: block;
}

.wd-make-flex {
    display: flex;
}

.bigSquare {
    width: 85px;
    height: 85px;
    color: rgb(236, 48, 48);
    background-color: blue;
}